// COLOR VARIABLES
$color-white: #FEFEFE;
$color-black: #222222;
$color-green: #33FFA9;
$color-manatee: #8D99AE;

@mixin transition-basic {
  transition: all 0.3s;

}

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

$bp-height-low: 40.188em; // 643px



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

 
}

body {
    font-family: $font-primary;
    background-color: $color-black;
}

main {
    max-width: 900px;
    margin: 0 auto;
    
}

h1 {
    
    font-size: 3.5rem;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1rem;

}

.section-heading {
    color: $color-white;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}


.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__content {
        padding: 4rem;
        margin-bottom: 1rem;
        
        
    }

    &__tagline {
        line-height: 28px;
        font-size: 1.3rem;
        color: $color-manatee;
        margin-bottom: 3rem;
    }

    &__cta {
        background: transparent;
        color: $color-white;
        padding: 1rem 2.2rem;
        border-radius: 3.5rem;
        border: 2px solid $color-green;
        cursor: pointer;
        
    }
}





.bold {
    color: $color-green;
    font-weight: 600;
}

.about {

    margin-bottom: 2rem;

    &__content {
        padding: 0 1.5rem;
        // border: 2px solid red;
        margin: 0 auto;
        
    }

    &__img {
       
        max-width: 100%;
        margin: 0 0 2.5rem;
    }

    &__description {
        color: $color-white;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 1rem;
    }

    &__list {
        color: $color-green;
        font-size: 20px;
        line-height: 26px;
        margin-left: 2rem;
        list-style: square;
    }
}

.work {
    margin-bottom: 5rem;
}

.work-box{
    border: 0px solid $color-manatee;
    box-shadow: 0px 0px 0px 4px rgba(141,153,174,0.3);  
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2.5rem;
    margin: 0 2rem 3rem 2rem;

    &__title {
        color: $color-green;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;

        &:link,
        &:active,
        &:focus {
            color: $color-green;
        }

        &:hover {
            color:#74ffc5;
        }
           

    }

    &__description {
        color: $color-white;
        font-size: 1rem;
    }

    &__more {
        color: $color-green;
        &:link,
        &:active,
        &:focus {
            color: $color-green;
        }

        &:hover {
            color:#74ffc5;
        }
    }

    &__links-container {
        display: flex;
        // border: 2px solid hotpink;
        align-items: center;
        gap: 10px;
        
    }

    &__img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    &__skills {
        display: flex;
        gap: 10px;
        font-size: 0.9rem;
        color: $color-manatee;
    }
}


.footer {
    margin-bottom: 5rem;
    
    &__content {
        // border: 2px solid white;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 900;
        color: $color-white;
    }

    &__sub {
        color: $color-white;
    }

    &__button {
        background: transparent;
        color: $color-white;
        padding: 1rem 2.2rem;
        border-radius: 3.5rem;
        border: 2px solid $color-green;
        cursor: pointer;
        margin: 1rem 0;
    }

    &__copyright {
        color: $color-white;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    
}
