//GENERAL BUTTON

.btn {
    background: transparent;
    color: $color-white;
    padding: 1rem 2.2rem;
    border-radius: 3.5rem;
    border: 2px solid $color-green;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
        background-color: $color-green;
        color: #222;
        transition: .5s ease;
}

}


// BOOSTRAP EDITS

// CONTAINER FOR MOBILE NAV
.bootstrap-bar {
    position: absolute;
    top: 0;
    right: 0;
    

    @media only screen and (min-width: $bp-medium) {
        display: none;
      }
}

.nav-link {
    color: $color-green;

    &:hover {
        color:#74ffc5;
    }
}

.navbar-dark .navbar-toggler {
    color:$color-green;
    border-color:$color-manatee;
   }
   
.container-sm,.container {
    max-width: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 700;
}


  
  /* ANIMATION */

  @keyframes fadeUp {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(40%);
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }

  }



  // .menu-btn.open .menu-btn__burger {
  //   transform: translatex(-50px);
  //   background: transparent;
    
  // }
  
  // .menu-btn.open .menu-btn__burger::before {
  //   transform: rotate(45deg) translate(35px, -35px);
  // }
  
  // .menu-btn.open .menu-btn__burger::after {
  //   transform: rotate(-45deg) translate(35px, 35px);
  // }
  

