.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;




    &__content {
        padding: 4rem;
        margin-bottom: 1rem;


    }

    &__tagline {
        line-height: 28px;
        font-size: 1.3rem;
        color: $color-manatee;
        margin-bottom: 3rem;

        @media only screen and (min-width: $bp-medium) {

            max-width: 75%;
        }
    }


}

//TYPOGRAPHY

h1 {

    font-size: clamp(40px, 8vw, 90px);
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1rem;

    // transform: translateY(40%);
    // opacity: 0;
    // transition: transform 5s ease;



}

h1.show {
    opacity: 1;
    transform: translateY(0);
    animation-name: fadeUp;
    animation-duration: 1s;
    // transition: transform 5s ease;
}




.bold {
    color: $color-green;
    font-weight: 600;
}


//NAVIGATION
.nav {
    display: none;

    @media only screen and (min-width: $bp-medium) {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        // border: 2px solid white;
        padding: 2rem;

        &__nav-list {
            display: flex;
            justify-content: space-evenly;
            color: $color-white;
            list-style: none;
            gap: 55px;
        }

        &__nav-item {
            cursor: pointer;

            &:hover {
                border-bottom: 3px solid $color-green;
                color: $color-green;



            }
        }

        &__nav-link {
            color: $color-white;

            &:hover {
                color: $color-green;
            }
        }
    }


}